@import "compass";
@import "compass/reset";
@import "compass/typography/links/link-colors";
@import "ostrich-sans.scss";
$spend-box-padding: 0.5em 0;

body{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

a{
  text-decoration:none;
}


#viz{
  clear:both;
}

.ui-box{
  margin:0 auto;
}

.spend-box{
  padding: 0 0.5em;
  @include border-radius(4px, 4px);
  @include background-image(linear-gradient(lightsalmon, darksalmon, salmon));
}

.total-box{
  padding:$spend-box-padding;
  text-decoration: underline;
}

#spendlist li{
  display:none;
  padding:$spend-box-padding;
  border-bottom: 1px solid ghostwhite;
}

#sum-expenses, .spend-amount{
  float:right;
}

.spend-box-container, .income-box-container{
  width:45%;
  float:left;
  margin-left:10px;
}

.spend-box-container input{
  margin-right:40px;
}

.box-header{
  background: lightgrey;
  @include border-radius(4px, 4px);
  margin-bottom:1em;
  padding:0.5em;

}

.box-header h3{
  margin:0.8em auto;
  text-align:center;
  border-bottom:1px solid darkgrey;
}

.button{
  @include border-radius(6px, 6px);
  padding:2px 8px;
  font-size:1em;
  font-weight: bold;
  background: #090;
  text-transform:uppercase;
  color:ghostwhite;
}

