%div#app
  =partial :ui
  %div.full-width
    %div#viz
      %svg
    %div
      %p
        You can save: $
        %em#savings 2,345
        this month.
  %div#spendlist

%script#spend-template{"type"=>"text/template"}
