%div#app
  =partial :ui
  %div.full-width
    %div#viz
      %svg
    %div
      %p
        You can save: $
        %em#savings 2,345
        this month.
  %div
    %input{"type"=>"text", "value"=>"Expense", "id"=>"expense-name"}
    %input{"type"=>"text", "value"=>"Amount", "id"=>"expense-amount"}
    %a{"href"=>"#", "class"=>"button", "id"=>"add-expense"}Add
  %div.spend-box
    %ul#spendlist
    %div.total-box
      Total: 
      %span#sum-expenses

%script#spend-template{"type"=>"text/template"}
  %span.spend-name <%= item %>
  %span.spend-amount <%= amount %>
