path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
  }

.spend{
  fill: lightsalmon;
  stroke-width: 0;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}
.x.axist path {
  display:none;
}

.y.axis line, .y.axis path{
  fill: none;
  stroke: #000;
}
